.home_gallery {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
    background-color: #F6F6F6;
    padding: 3%;
    box-sizing: border-box;
    border-radius: 25px;
}