.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 0 5% 0 5%;
    ul {
        display: flex;
        align-items: center;   
        width: 200px;
        a {
            text-decoration: none;
            display: block;
            width: 90px;
            li {
                color: #FF6060;
                list-style: none;
            }
        }

    }
    .active {
        text-decoration: underline #FF6060;
    }
    @media screen and (max-width: 650px){
        img {
            width: 35%;
        }  
    }
}


