.photoBanner {
        img {
            position: relative;
            width: 90%;
            height: 200px;
            object-fit: cover;
            display: block;
            margin: auto;
            border-radius: 20px;
        }
        h1 {
            position: absolute;
            left: 50%;
            right: 50%;
        }
    }
