.collapse {
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0px;
        
    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 10px;
        background-color: #FF6060;
        width: 80%;
        padding: 15px;
        z-index: 2;
        span {
            font-weight: 500;
            font-size: 20px;
            color: white;
        }
    }
    .descriptionCollapse {
        background-color: #F6F6F6;
        width: 80%;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        margin: -10px 0 0 0;
        padding: 2.5% 1.5% 1.5% 1.5%;
        box-sizing: border-box;
        color: #FF6060;
        span {
            width: 100%;
            text-align: left;
            display: block;
        }
        
    }
    .arrow_up {
        transform: rotate(0deg);
        transition: 0.4s 0s ease-in-out;
    }
    .arrow_down {
        transform: rotate(180deg);
        transition: 0.4s 0s ease-in-out;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 650px){
    .collapse {
        button {
            width: 90%;
            padding: 7px;
            font-size: 16px;
        }
    .descriptionCollapse {
        padding: 8% 5% 5% 5%;
        width: 90%;
        }
    }
}

.container_collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .collapse{
        display: flex;
        justify-content: space-between;
    }
        .container_collapse_item {
            width: 49%;
                button {
                    width: 100%;
                }
                p {
                    width: 100%;
                }
        }
        @media screen and (max-width: 650px){
            display: flex;
            flex-direction: column;
            .container_collapse_item {
                width: 100%;
                .collapse {
                    margin-bottom: 0;
                    button {
                        padding: 10px;
                        span {
                            font-size: medium;
                        }
                    }
                    .descriptionCollapse {
                        padding: 8% 5% 5% 5%;
                    }
                }
            }
        }
}