.collapse {
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0px;
        // width: 100%;
      
    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 10px;
        background-color: #FF6060;
        width: 80%;
        padding: 15px;
        span {
            font-weight: 500;
            font-size: 20px;
            color: white;
        }
    }
    .descriptionCollapse {
        background-color: #F6F6F6;
        width: 80%;
        border-radius: 10px;
        margin: 0;
    }
    .arrow_up {
        transform: rotate(0deg);
        transition: 0.4s 0s ease-in-out;
    }
    .arrow_down {
        transform: rotate(180deg);
        transition: 0.4s 0s ease-in-out;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container_collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .collapse{
        display: flex;
        justify-content: space-between;
    }
        .container_collapse_item {
            width: 49%;
                button {
                    width: 100%;
                }
                p {
                    width: 100%;
                }
        }
        @media screen and (max-width: 650px){
            display: flex;
            flex-direction: column;
            .container_collapse_item {
                width: 100%;
                .collapse {
                    margin-bottom: 0;
                    // padding: 0;
                }
            }
        }
}