.footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    margin-top: 3%;

    img {
        width: 122px;
        padding: 2%;
    }

    p {
        margin-bottom: 0;
    }
    @media screen and (max-width: 650px){
        img {
            margin-top: 9%;
        }
        p {
            margin-bottom: 9%;
        }
    }
}
